@page {
    size: A4;
}
body{
    font-family: 'Sawarabi Gothic', sans-serif;
}

table {
    text-align: center;
    border-collapse: collapse;
}

table th, table td {
    border: solid 1px black;
    height: 70px;
    font-size: 20px;
}

th{
    background: lightgray;
}
table {
    margin-left:  150px;
    margin-right:  150px;
    margin-top: 70px;
    width: 60%;
}

.daimei{
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
}
.name{
    font-size: 25px;
    width: 50%;
    float: left;
    margin-bottom: 30px;
    text-align: center;
}
.ten{
    font-size: 25px;
    width: 50%;
    float: left;
    margin-bottom: 30px;
    text-align: center;
}

