
a:link { color: #000000; }
a:visited { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }
a:link {text-decoration:none;}
body{
    width: 360px;
    height: 670px;
    font-family: 'Sawarabi Gothic', sans-serif;
}
html,body{
    overflow: hidden
}
.count_memory{
    text-align: right;
    margin-right: 20px;
}
//progress-bar//
.progress{
    display: block;
    appearance: none;
    border: none;
}
.progress{
    --uiProgressWidth: var(--progressWidth, 100%);
    --uiProgressHeight: var(--progressHeight, 5px);
    width: var(--uiProgressWidth);
    height: var(--uiProgressHeight);
}
.progress[value]::-webkit-progress-value{
    transition: width .4s ease-out;
}
.progress{
    --uiProgressColor: var(--progressColor);
    --uiProgressBgColor: var(--progressBgColor);
    background-color: var(--uiProgressColor);
    color: var(--uiProgressColor);
}
.progress[value]::-webkit-progress-bar{
    background-color: var(--uiProgressBgColor);
}
.progress[value]::-webkit-progress-value{
    background-color: var(--uiProgressColor);
}
.progress[value]::-moz-progress-bar{
    background-color: var(--uiProgressColor);
}
.progress{
    --progressHeight: 4px;
}
.progress{
    --progressColor: #C21858;
    --progressBgColor: #F8BBD0;
}
.mypage_prf{
    text-align: center;
    width: 360px;
    height: 244px;
}
.mypage_prf>img{
    width: 180px;
    height: 180px;
}
.mypage_btn{
    width: 360px;
    height: 136px;
    text-align: center;
}
a.newtango_btn {
    display: inline-block;
    padding: 15px 43px;
    margin-bottom: 10px;
    border-radius: 31px;
    color: #000;
    background-image: -webkit-linear-gradient(45deg, #C21858 0%, #C21858 100%);
    background-image: linear-gradient(45deg, #C21858 0%, #C21858 100%);
    transition: .4s;
    font-size: 20px;
}
a.oldtango_btn {
    display: inline-block;
    padding: 15px 64px;
    margin-bottom: 10px;
    border-radius: 31px;
    color: #000;
    background-image: -webkit-linear-gradient(45deg, #C21858 0%, #C21858 100%);
    background-image: linear-gradient(45deg, #C21858 0%, #C21858 100%);
    transition: .4s;
    font-size: 20px;
}
.mypage_menu{
    list-style: none;
    width: 360px;
    height: 50px;
    margin: 0;
    padding-left: 17px;
    padding-top: 0;
}
.mypage_menu li {
    float: left;
    padding: 11px;
    margin: 0;
    text-align: center;
    display: inline-block;
}
.mypage_menu li a {
    width: auto;
    font-size: 14px;
    margin: 4px;
    padding: 0px 15px;
    text-decoration: none;
    display: block;
    color: #C21858;
}
.mypage_menu li p{
    margin: 6px;
}

.mypage_level{
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

