.title {
    font-size: 70px;
    padding-left: 20px;
    margin-top: 10px;
}

label {
    font-size: 13px;
}

.graph {
    width: 128px;
    display: inline-block;
    margin-bottom: 10px;
}

.level_size {
    display: inline-block;
    font-size: 17px;
    font-family: 'Sawarabi Gothic', sans-serif;
}

p.box {
    margin-bottom: 0px;
}

.testProgress {
    width: 400px;
    display: inline-block;
}

.progress{
    display: block;
    appearance: none;
    border: none;
    margin-bottom: 3px;
}
.progress{
    --uiProgressWidth: var(--progressWidth, 100%);
    --uiProgressHeight: var(--progressHeight, 5px);
    width: var(--uiProgressWidth);
    height: var(--uiProgressHeight);
}
.progress[value]::-webkit-progress-value{
    transition: width .4s ease-out;
}
.progress{
    --uiProgressColor: var(--progressColor);
    --uiProgressBgColor: var(--progressBgColor);
    background-color: var(--uiProgressColor);
    color: var(--uiProgressColor);
}
.progress[value]::-webkit-progress-bar{
    background-color: var(--uiProgressBgColor);
}
.progress[value]::-webkit-progress-value{
    background-color: var(--uiProgressColor);
}
.progress[value]::-moz-progress-bar{
    background-color: var(--uiProgressColor);
}
.progress{
    --progressHeight: 4px;
}
.progress{
    --progressColor: #C21858;
    --progressBgColor: #F8BBD0;
}

.name {
    font-size: 50px;
}

.personalInfo {
    margin-top: 15px;
    margin-bottom: 20px;
}

.chart {
    width: 170px;
    height: 170px;
    margin-top: 45px;
}

.mypage_prf{
    text-align: center;
    width: 211px;
    height: 211px;
    margin-top: 10px;
    float: left;
}
.mypage_prf>img{
    width: 180px;
    height: 180px;
}