html,body{
    overflow: hidden
}
body{
    width: 350px;
    height: 650px;
}
p#PassageArea{
    text-align: center;
    font-size: 30px;
}

.quiz_zentai{
    width: 350px;
    height: 460px;
    text-align: center;
    font-family: 'Sawarabi Gothic', sans-serif;
}
.test_eigo{
    font-size: 70px;
}

.test_nihongo{
    width: 350px;
    height: 300px;
    margin-left: 82px;
}

a.homeback>img{
    margin-left: 117px;
}


.nihongo_btn {
    display: block;
    width: 160px;
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #EC407A;
    border-radius: 55px;
    transition: .4s;
}

.geee{
    width: 100%;
    height: 70px;
}


.delay {
    position: relative;
    width: 100%;
    margin: 6px auto;
    font-size: 14px;
    text-align: center;
    animation-name: my_delay;
    animation-duration: 5s;
}
.delay a {
    z-index: 3;
    position: relative;
    display: block;
    padding: 0.8em 0;
    color: #20b2aa;
}
.delay::before,
.delay::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.delay::before {
    z-index: 1;
    background-color: #fff;
    opacity: 0.3;
}
.delay::after {
    z-index: 2;
    width: 100%;
    background-color: #20b2aa;

}

 body:hover .delay::after {
    width: 0%;
    transition: width 5s linear;
}
.delay1::after {
    transition-delay: 0s;
}






