a:link { color: #FFF; }
a:visited { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }
a:link {text-decoration:none;}

body{
    width: 360px;
    height: 660px;
}

.test_result{
    margin-top: 40px;
    text-align: center;
    font-size: 57px;
    transform: rotate(-7deg);
    display: inline-block;
    color: #CC0000;
    /*background: linear-gradient(transparent 80%, #FF0000 80%);*/
}
div.test_result{
    margin: 10px;
    margin-left: 53px;
    font-family: 'Kaushan Script', cursive;
}



.test_text{
    font-family: 'Sawarabi Gothic', sans-serif;
    margin:auto;
    font-size: 26px;
    margin-top: 16px;
    width: 360px;
    height: 383px;
}

.audio_button {
    position: relative;
    float: left;
    width: 29px;
    height: 300px;
    text-align: center;
}

.test_index_eng {
    position: relative;
    float: left;
    width: 150px;
    height: 300px;
    text-align: center;
}

.test_index_jp {
    position: relative;
    float: left;
    width: 178px;
    height: 300px;
    text-align: center;
}




.mypage_menu{
    list-style: none;
    width: 360px;
    height: 100px;
    margin-left: 60px;
}
.mypage_menu li {
    float: left;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;

}

.mypage_menu li a {
    width: auto;
    font-size: 14px;
    margin: 4px;
    padding: 0px 15px;
    text-decoration: none;
    display: block;
    color: #C21858;
}

.mypage_menu li p{
    margin: 6px;
}

p.test_index_kids{
    margin: 10px;
}
.test_index_kids{
    margin: 10px;
}

.test_result_tx{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}
li.my_menu_t{
    margin-top: 3px;
}
.mypage_menu>li{
    font-family: 'Sawarabi Gothic', sans-serif;
    margin-right: 40px;
}
.test_result_tx:after {
    content: "";
    display: block;
    height: 4px;
    background: -moz-linear-gradient(to right, #000080, transparent);
    background: -webkit-linear-gradient(to right, #000080, transparent);
    background: linear-gradient(to right, #000080, transparent);
}