a:link { color: #000; }
a:visited { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }
a:link {text-decoration:none;}

body{
    width: 360px;
    /*height: 670px;*/
    font-family: 'Sawarabi Gothic', sans-serif;
}

html,body{
    overflow: scroll;
}

.setumei{
    list-style: none;
    padding: 0;
    overflow: hidden;
    /*margin: 10px;*/
    margin-left: 30px;
}
.setumei_img{
    font-size: 18px;
    float: left;
}
.setumei_p{
    font-size: 18px;
}
.unit_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #000;
    background-color: #F8BBD0;
    transition: .4s;
    margin: 10px;
}

.head_test {
    margin:  0;             /* デフォルトCSS打ち消し */
    position:  relative;    /* 位置調整 */
    font-weight:  normal;   /* 文字の太さ調整 */
    margin-bottom: 35px;    /* 周りの余白指定 */
    font-size: 30px;        /* 文字サイズ指定 */
    text-align:  center;    /* 文字位置指定 */
}

.head_test-point {
    display:  block;        /* ブロック要素にする */
    font-size:  14px;       /* 文字サイズ指定 */
    margin-top:  10px;      /* 周りの余白指定 */
    position:  relative;    /* 位置調整 */
    width: 140px;           /* 幅指定 */
    margin: 10px auto 0;    /* 周りの余白指定 */
    background-color:  #fff; /* 背景色指定 */
    color: midnightblue;
}

.head_test-point:before {
    content: '';            /* 空の要素を作る */
    height:  1px;           /* 高さ指定 */
    background-color:  midnightblue;/* 背景色指定 */
    position:  absolute;    /* 位置調整 */
    top: 0;                 /* 位置調整 */
    bottom:  0;             /* 位置調整 */
    margin:  auto;          /* 位置調整 */
    z-index: -1;            /* 重なり調整 */
    width: 200px;           /* 幅指定 */
    left:  -30px;           /* 位置調整 */
}

a.unit_sub{
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #0000CD 0%, #0000CD 100%);
    background-image: linear-gradient(45deg, #0000CD 0%, #0000CD 100%);
    transition: .4s;
    width: 65px;
}


p.line{
    text-align: center;
}

div.a_lesson{
   margin-left: 26px;
}

/*div.number{*/
    /*margin-left: -30px;*/
/*}*/

progress.progress.box{
    width: 109px;
    z-index: 0;
}

.box{
    font-family: 'Alegreya Sans SC', sans-serif;
}
p.box{
    font-size: 26px;
}