a:link { color: #000; }
a:visited { color: #000000; }
a:hover { color: #000000; }
a:active { color: #000000; }
a:link {text-decoration:none;}

body{
    width: 360px;
    /*height: 670px;*/
    font-family: 'Sawarabi Gothic', sans-serif;
}

html,body{
    overflow: hidden
}

.setumei{
    list-style: none;
    padding: 0;
    overflow: hidden;
    /*margin: 10px;*/
    margin-left: 30px;
}
.setumei_img{
    font-size: 18px;
    float: left;
}
.setumei_p{
    font-size: 18px;
}
.unit_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #000;
    background-color: #F8BBD0;
    transition: .4s;
    margin: 10px;
}
