body{
    width: 375px;
    font-family: 'Sawarabi Gothic', sans-serif;
    margin: 0;
    /*height: 650px;*/
}

.list_title{
    font-size: 35px;
    text-align: center;
}

.list_sub_title {
    font-size: 25px;
    padding-left: 20px;
    margin-bottom: 10px;
}

th {
    font-family: 'Sawarabi Gothic', sans-serif;
    width: 33%;
    padding: 15px 0px;
    background-color: dimgray;
    color: white;
}

td {
    width: 33%;
}

td.word {
    padding-left: 15px;
}

td.done {
    background-color: #FFCCCC;
}

td.doing {
    background-color: #FFFFCC;
}

td.meaning {
    padding-left: 15px;
}

td.lesson {
    padding-left: 15px;
}

td.notyet {
    background-color: #CCCCFF;
}

table {
    margin: 0px 0px 10px 0px;
    width: 100%;
}