body{
    width: 375px;
    font-family: 'Sawarabi Gothic', sans-serif;
    margin: 0;
    /*height: 650px;*/
}

.list_title{
    margin-top:30px;
    font-size: 35px;
    text-align: center;
}

.list_sub_title {
    font-size: 22px;
    padding-left: 6px;
    margin-bottom: 10px;
}

th {
    font-family: 'Sawarabi Gothic', sans-serif;
    width: 33%;
    padding: 7px 0px;
    background-color: dimgray;
    color: white;
    font-weight: normal;
}

/*.wordcolumn {*/
    /*border-top-left-radius: 12px;*/
/*}*/

/*.lessoncolumn {*/
    /*border-top-right-radius: 12px;*/
/*}*/

td {
    width: 33%;
}

td.word {
    padding-left: 15px;
}

td.done {
    background-color: #000055;
}

td.doing {
    background-color: #75A9FF;
}

td.meaning {
    padding-left: 15px;
}

td.lesson {
    padding-left: 15px;
}

td.notyet {
    background-color: #DCDCDC;
}
td.word.done{
    color: #FFFFFF;
}
td.meaning.done{
    color: #FFFFFF;
}
td.lesson.done{
    color: #FFFFFF;
}


table {
    margin: 0px 0px 10px 0px;
    width: 100%;
}

.head_test {
    margin:  0;             /* デフォルトCSS打ち消し */
    position:  relative;    /* 位置調整 */
    font-weight:  normal;   /* 文字の太さ調整 */
    margin-bottom: 35px;    /* 周りの余白指定 */
    font-size: 30px;        /* 文字サイズ指定 */
    text-align:  center;    /* 文字位置指定 */
}

.head_test-point {
    display:  block;        /* ブロック要素にする */
    font-size:  14px;       /* 文字サイズ指定 */
    margin-top:  10px;      /* 周りの余白指定 */
    position:  relative;    /* 位置調整 */
    width: 140px;           /* 幅指定 */
    margin: 10px auto 0;    /* 周りの余白指定 */
    background-color:  #fff; /* 背景色指定 */
    color: midnightblue;
}

.head_test-point:before {
    content: '';            /* 空の要素を作る */
    height:  1px;           /* 高さ指定 */
    background-color:  midnightblue;/* 背景色指定 */
    position:  absolute;    /* 位置調整 */
    top: 0;                 /* 位置調整 */
    bottom:  0;             /* 位置調整 */
    margin:  auto;          /* 位置調整 */
    z-index: -1;            /* 重なり調整 */
    width: 200px;           /* 幅指定 */
    left:  -30px;           /* 位置調整 */
}
a.homeback>img{

    margin-left:165px;
}

.list_sub_title:after {
    content: "";
    display: block;
    height: 4px;
    background: -moz-linear-gradient(to right, midnightblue, transparent);
    background: -webkit-linear-gradient(to right, midnightblue, transparent);
    background: linear-gradient(to right, midnightblue, transparent);
}