<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/JSP/Page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/exam_select.css">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <title>印刷テスト選択</title>
</head>
<body>
<div class="head_test-wrap">
    <h1 class="head_test">
        今まで習った単語の復習
        <span class="head_test-point">Review</span>
    </h1>
</div>

<div class="review_index">
    <div class="review_tango">
        <a href="/sense/exam">全体（英→日）</a>
    </div>
    <div class="review_tango">
        <a href="/sense/exam2">全体（日→英）</a>
    </div>
    <div class="review_tango">
        <a href="/sense/exam_get_ready">Get Ready（英→日）</a>
    </div>
    <div class="review_tango">
        <a href="/sense/exam_get_ready2">Get Ready（日→英）</a>
    </div>
    <div class="review_tango">
        <a href="/sense/exam_lesson">Lesson 1（英→日）</a>
    </div>
    <div class="review_tango">
        <a href="/sense/exam_lesson2">Lesson 1（日→英）</a>
    </div>
</div>

<ul class="mypage_menu">
    <li><a href="/sense/mypage"><img src="/images/mypage/home.png"></a></li>
</ul>


</body>
</html>