<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/exam.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Sawarabi+Gothic" rel="stylesheet">
    <title>自動生成テスト</title>
</head>
<body>
<p class="daimei">英単語テスト</p>

<p class="name">　　　　　　　　氏名(　　　　　　　　　)</p><p class="ten">点</p>

<table border="1">
    <tr class="exam-tango">
        <th>　</th>
        <th>英語</th>
        <th>日本語</th>
    </tr>

    <tr class="exam-tango">
        <td>1</td>
        <td>kangaroo</td>
        <td>　　　　　　</td>
    </tr>

    <tr class="exam-tango">
        <td>2</td>
        <td>eggplant</td>
        <td>　　　　　　</td>
    </tr>

    <tr class="exam-tango">
        <td>3</td>
        <td>shake</td>
        <td>　　　　　　</td>
    </tr>

    <tr class="exam-tango">
        <td>4</td>
        <td>banana</td>
        <td>　　　　　　</td>
    </tr>

    <tr class="exam-tango">
        <td>5</td>
        <td>Australia</td>
        <td>　　　　　　</td>
    </tr>

    <tr class="exam-tango">
        <td>6</td>
        <td>meet</td>
        <td>　　　　　　</td>
    </tr>

    <tr class="exam-tango">
        <td>7</td>
        <td>horse</td>
        <td>　　　　　　</th>
    </tr>

    <tr class="exam-tango">
        <td>8</td>
        <td>spaghetti</td>
        <td>　　　　　　</td>
    </tr>

    <tr class="exam-tango">
        <td>9</td>
        <td>steak</td>
        <td>　　　　　　</td>
    </tr>

    <tr class="exam-tango">
        <td>10</td>
        <td>swimming</td>
        <td>　　　　　　</td>
    </tr>
</table>

</body>
</html>