<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin:10px 55px 10px 55px;">

<h1>♦はじめに♦</h1>
<p>グローバル化が進む現代において英語を学ぶ重要性は日々高まっているにもかかわらず、学習者である小中学生は
<ul>
    <li>部活や習い事に追われて勉強する時間がない</li>
    <li>学んだ英語を将来どう活かせるかわからない</li>
    <li>上手く学習の目標を設定して自分のモチベーションを保つことができない</li>
</ul>
などなど、様々な問題を抱えています。<br>
Swishは英単語学習においてこのような様々な問題を抱えている全ての小中学生のために作られた、スマートフォン
で使える新しい英単語学習アプリです。<br><br>
Swishとは英語で「シュッとなる」「スマートな」などの意味があります。またバスケット用語でボールがバスケッ
トゴールのどこにも当たらずネットを通り抜けるシュートのこともSwishといいます。このSwishという
アプリには「BUSYな小中学生に、EASYに学んでほしい」という願いがこめられています。みなさん、Swishで英単語
をシュッとスワイプしてスマートに学習し、学校の授業や試験、日常生活の中で自分の思い描くゴールに向かって頑
張ってください！！
<br><br>
<h1>♦使い方♦</h1>
<ul>
    <li>先生
        <br><p><span>STEP1: </span>授業の進捗に沿って、次回の授業までに生徒にマスターしてきてほしいLesson
            のテストを指定します。</p>
        <br><p><span>STEP2: </span>生徒の学習の進捗状況をアプリで確認します。</p>
        <br><p><span>STEP3: </span>生徒の学習状況や理解状況に合わせてアプリ内で自動的に作成される単語テス
            トを授業で実施し、生徒の理解度をチェックします。</p>
    </li>
    <li>生徒
        <br><p><span>STEP1: </span>毎日マイページの「新しい単語」からスワイプ画面に入り、出てくる英単語を
            「知ってる！」と「知らない！」に仕分けます。</p>
        <br><p><span>STEP2: </span>先生が指定した次の授業までに解いてきてほしいテストを、次の授業までに受
            けます。</p>
        <br><p><span>STEP3: </span>マイページの「復習」から英単語を繰り返しスワイプして復習します。</p>
    </li>
</ul>
<h1>♦Swishの優れている点♦</h1>
<ol>
    <li>自分の苦手な単語を中心に学習できる！</li>
    <li>授業に準拠した英単語を学習できるから、授業の予習復習もバッチリ！</li>
    <li>スワイプで仕分けるだけだから隙間時間で効率的に英単語を学習できる！</li>
</ol>
</p>

</body>
</html>