<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/mypage.css">
    <script src="/js/style.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <title>TopPage</title>
</head>
<body>

<p><a href="/sense/mypage"><img src="/images/mypage/information.jpg" height="30px" width="37px"></a></p>

<p class="count_memory">進めた単語数　<tr th:text = "${status}"></tr>回<br>
    継続日数　60日
</p>
<progress class="progress" min="0" th:attr="max=${count}" th:value="${status}">%</progress>
<p class="mypage_level">Level 7</p>
<div class="mypage_prf">
    <img src="/images/mypage/icon.png">
    <p class="myname">おさっぴ</p>
</div>
<div class="mypage_btn">
    <a href="/sense/study" class="newtango_btn">今日の単語</a><br>
    <a href="/sense/unit_select" class="oldtango_btn">テスト</a>
</div>
<ul class="mypage_menu">
    <li><a href="/sense/mypage"><img src="/images/mypage/home.png"></a><p>ホーム</p></li>
    <li><a href="#"><img src="/images/mypage/tangolist.png"></a><p>単語リスト</p></li>
    <li><a href="/sense/review"><img src="/images/mypage/review.png"></a><p>復習</p></li>
</ul>
</body>
</html>
