<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/mypage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Sawarabi+Gothic" rel="stylesheet">
    <title>TopPage</title>
</head>
<body>
<p class="mypage_swish">Swish</p>
<div class="area">

    <div class="marquee">
        おはよう！今日は<span id="view_time"></span>。
        Swishを初めて5日目だよ！
    </div>
</div>
<script type="text/javascript">
    document.getElementById("view_time").innerHTML = getNow();

    function getNow() {
        var now = new Date();
        var year = now.getFullYear();
        var mon = now.getMonth()+1; //１を足すこと
        var day = now.getDate();
        var hour = now.getHours();
        var min = now.getMinutes();
        var sec = now.getSeconds();

        //出力用
        var s =  mon + "月" + day + "日" ;
        return s;
    }
</script>
<!--<p class="mypage_swish">Swish</p>-->
<!--<p class="count_memory"><a class="inf_btn" href="/sense/mypage"><img src="/images/mypage/information.jpg" height="30px" width="37px"></a>　　　　　　　　　　進めた単語数　<tr th:text = "${status}"></tr>回-->
<!--<br><p class="count_days">継続日数　60日　　　</p>-->





<script type="text/javascript">
    document.getElementById("view_time").innerHTML = getNow();

    function getNow() {
        var now = new Date();
        var year = now.getFullYear();
        var mon = now.getMonth()+1; //１を足すこと
        var day = now.getDate();
        var hour = now.getHours();
        var min = now.getMinutes();
        var sec = now.getSeconds();

        //出力用
        var s =  mon + "月" + day + "日" ;
        return s;
    }
</script>

<!--<p class="count_memory"><a class="inf_btn" href="/sense/mypage"><img src="/images/mypage/information.jpg" height="30px" width="37px"></a>　　　　　　　　　　進めた単語数　<tr th:text = "${status}"></tr>回-->
<!--<br><p class="count_days">継続日数　60日　　　</p>-->




<div class="mypage_prf">
    <!--<img src="/images/mypage/icon.png">-->
    <div class="dounuts" style="height: 270px; width: 270px;">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [
                    'マスター',
                    '学習中',
                    '未学習'
                ],
                datasets: [{
                    data: [10, 20, 30],
                    backgroundColor: ['#000055', '#75A9FF', '#DCDCDC']
                }]
            },
            options: {
            }
        });
    </script>

</div>
<div class="mypage_btn">
    <a  class="newtango_btn" onclick="audio3_play()">今日の単語</a><br>
    <a  class="oldtango_btn"onclick="audio4_play()">テスト</a>
</div>
<ul class="mypage_menu">
    <li><img src="/images/mypage/home.png" onclick="audio_play()"><p>ホーム</p></li>
    <li><img src="/images/mypage/tangolist.png" onclick="audio1_play()"><p>単語リスト</p></li>
    <li><img src="/images/mypage/review.png"onclick="audio2_play()"><p>復習</p></li>
</ul>

<audio id="audio" >
    <source src="/audio/pico.mp3">
</audio>
<script type="text/javascript">
    function audio_play() {
        audio.play();
        setTimeout(function jump(){ location.href='/sense/mypage/'},500);
    }
    function audio1_play() {
        audio.play();
        setTimeout(function jump(){ location.href='/sense/wordlist/'},500);
    }
    function audio2_play() {
        audio.play();
        setTimeout(function jump(){ location.href='/sense/review/'},500);
    }
    function audio3_play() {
        audio.play();
        setTimeout(function jump(){ location.href='/sense/study/'},500);
    }
    function audio4_play() {
        audio.play();
        setTimeout(function jump(){ location.href='/sense/unit_select/'},500);
    }


</script>

</body>
</html>