<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" />
    <title>TopPage</title>
</head>
<body>
<h1>フリック数:200</h1><br>
連続ログイン日数

<img src="/style/osa.jpg"><br>
<a href="">レビュー</a><br>
<a href="">スタート</a><br>


<ul id="nav">
    <li><a href="#">ホーム</a></li>
    <li><a href="#">ランキング</a></li>
    <li><a href="#">自己データ</a></li>
    <li><a href="#">テスト</a></li>
</ul>
</body>
</html>