<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/JSP/Page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/review.css">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <title>自分の単語力</title>
</head>
<body>
<div class="head_test-wrap">
    <h1 class="head_test">
        今まで習った単語の復習
        <span class="head_test-point">Review</span>
    </h1>
</div>
<div class="review_index">
    <div class="review_tango">
        <a onclick="audio_play()">マスターした単語</a>
        <tr th:text = "'('+${countMaster}+')'"></tr>
    </div>
    <div class="review_tango">
        <a onclick="audio1_play()">学習中の単語</a>
        <tr th:text = "'('+${countStudying}+')'"></tr>
    </div>
</div>
<ul class="mypage_menu">
    <li><a onclick="audio2_play()"><img src="/images/mypage/home.png"></a></li>
</ul>

<audio id="audio" >
    <source src="/audio/pico.mp3">
</audio>
<script type="text/javascript">
    function audio_play() {
        audio.play();
        setTimeout(function jump(){ location.href='/sense/master'},500);
    }
    function audio1_play() {
        audio.play();
        setTimeout(function jump(){ location.href='/sense/studying'},500);
    }
    function audio2_play() {
        audio.play();
        setTimeout(function jump(){ location.href='/sense/mypage'},500);
    }

</script>
</body>
</html>
