<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/JSP/Page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/review.css">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <title>自分の単語力</title>
</head>
<body>
　　<div class="review_title">
        <p>
            今までの復習
        </p>
    </div>

    <div class="review_index">
        <a href="#" class="btn-denim">マスター</a>
        <tr th:text = "${perfect}"></tr><br>
        <a href="#" class="btn-denim">学習中</a>
        <tr th:text = "${studying}"></tr><br>
        <a href="#" class="btn-denim">My単語</a>
        <tr>3</tr><br>
    </div>

    <ul class="mypage_menu">
        <li><a href="/sense/mypage"><img src="/images/mypage/home.png"></a><p>ホーム</p></li>
        <li><a href="#"><img src="/images/mypage/tangolist.png"></a><p>単語リスト</p></li>
        <li><a href="/sense/test"><img src="/images/mypage/review.png"></a><p>復習</p></li>
    </ul>
</body>
</html>