<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta  name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="/css/study1.css" />
    <link rel="stylesheet" href="/css/study.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/flicker.js"></script>
    <title>新しい単語</title>

    <script>

        $(document).ready(function(){

            $(".buddy").on("swiperight",function(){

                var word = $(this).find(".flick_word").text();

                var data = {word: word};

                $.ajax ({
                    url: "/sense/study_r",
                    type: "POST",
                    data : JSON.stringify(data),
                    contentType: 'application/JSON',
                    dataType : 'JSON',
                    success: function() {
                        console.log("success");
                    }
                });
            });


            $(".buddy").on("swipeleft",function(){

                var word = $(this).find(".flick_word").text();

                var data = {word: word};

                $.ajax ({
                    url: "/sense/study_l",
                    type: "POST",
                    data : JSON.stringify(data),
                    contentType: 'application/JSON',
                    dataType : 'JSON',
                    success: function() {
                        console.log("success");
                    }
                });
            });
        });



        // <a class="top" href="#" data-role="button">Topへ</a>

    </script>
</head>
<body>
<a class="homeback" href="/sense/mypage" data-ajax="false"><img src="/images/study/close.jpeg"></a>

<div  class= "wall-final">
    <!--<input class="show-modal" type="button" value="フリックした単語一覧">-->
    <br><br>
    <a class="homeback" href="/sense/mypage" data-ajax="false"><img src="/images/mypage/home.png">ホーム画面に戻る</a>
    <!--<input type="image" src="/images/test/saisei.jpg" onclick="audio_play()" height="25px" width="25px" ><br>-->
    <!--<audio id="audio()">-->
    <!--<source src="/kazane.mp3">-->
    <!--</audio>-->
    <!--<script type="text/javascript">-->
    <!--function audio_play() {-->
    <!--audio_play();-->
    <!--}-->

    <!--function audio_pause() {-->
    <!--audio_pause();-->
    <!--}-->
    <!--</script>-->


    <br><br>
    <a class="homeback" href="/sense/study" data-ajax="false"><img src="/images/study/reroad.png">次の20単語をフリックする</a>

</div>

<div class="newWord2">

    <div th:each="word : ${newWords2}" th:object="${word}">
        <div class="buddy" style="display: block;">
            <input class="audioplay" type="image" src="/images/test/saisei.jpg" onclick="audio_play(this)" height="37px" width="32px" >
            <audio><source th:src="${'/audio/'+ word.audio}"></audio>
            <div class="sample1">
                <p class="flick_word" th:text="*{word}"></p>
                <div class="mask">

                    <img th:src="*{url}">
                    <p class="flick_word_after" th:text="*{word}"></p>
                    <p class="caption" th:text="*{meaning}" ></p>
                </div>

            </div>

        </div>
    </div>
    <img src="/images/test/nextquestion.png" class="wall">
</div>

<div class="newWord1">

    <div th:each="word : ${newWords1}" th:object="${word}">
        <div class="buddy" style="display: block;">
            <input class="audioplay" type="image" src="/images/test/saisei.jpg" onclick="audio_play(this)" height="37px" width="32px" >
            <audio><source th:src="${'/audio/'+ word.audio}"></audio>
            <div class="sample1">

                <p class="flick_word" th:text="*{word}"></p>
                <div class="mask">
                     <img th:src="*{url}">
                    <p class="flick_word_after" th:text="*{word}"></p>
                    <p class="caption" th:text="*{meaning}" ></p>

                </div>

            </div>

        </div>
    </div>
    <img src="/images/test/nextquestion.png" class="wall">
</div>

<div class="reviewWord2">

    <div th:each="word : ${reviewWords2}" th:object="${word}">
        <div class="buddy" style="display: block;">
            <input class="audioplay" type="image" src="/images/test/saisei.jpg" onclick="audio_play(this)" height="37px" width="32px" >
            <audio><source th:src="${'/audio/'+ word.audio}"></audio>
            <div class="sample1">
                <p class="flick_word" th:text="*{word}"></p>
                <div class="mask">
                    <img th:src="*{url}" >
                    <p class="flick_word_after" th:text="*{word}"></p>
                    <p class="caption" th:text="*{meaning}" ></p>
                </div>

            </div>

        </div>
    </div>
    <img src="/images/test/nextquestion.png" class="wall">
</div>


<div class="reviewWord1">

    <div th:each="word : ${reviewWords1}" th:object="${word}">
        <div class="buddy" style="display: block;">
            <input class="audioplay" type="image" src="/images/test/saisei.jpg" onclick="audio_play(this)" height="37px" width="32px" >
            <audio><source th:src="${'/audio/'+ word.audio}"></audio>
            <div class="sample1">

                <p class="flick_word" th:text="*{word}"></p>
                <div class="mask">
                    <img th:src="*{url}">
                    <p class="flick_word_after" th:text="*{word}"></p>
                    <p class="caption" th:text="*{meaning}" ></p>
                </div>

            </div>
        </div>
    </div>

    <img src="/images/study/dousen.png" class="wall">

    <!--<div id="modalwin" class="modalwin hide">-->
    <!--<h1>フリックした単語一覧</h1>-->
    <!--<div class="modalwin-contents">-->
    <!--<table th:inline="text">-->
    <!--<tr><th>Word</th><th>Meaning</th></tr>-->

    <!--<tr th:each="word:${reviewWords1}" th:object="${word}">-->
    <!--<td th:text="*{word}"></td>-->
    <!--<td th:text="*{meaning}"></td>-->
    <!--</tr>-->
    <!--<tr th:each="word:${reviewWords2}" th:object="${word}">-->
    <!--<td th:text="*{word}"></td>-->
    <!--<td th:text="*{meaning}"></td>-->
    <!--</tr>-->
    <!--<tr th:each="word:${newWords1}" th:object="${word}">-->
    <!--<td th:text="*{word}"></td>-->
    <!--<td th:text="*{meaning}"></td>-->
    <!--</tr>-->
    <!--<tr th:each="word:${newWords2}" th:object="${word}">-->
    <!--<td th:text="*{word}"></td>-->
    <!--<td th:text="*{meaning}"></td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <!--<img class="close_modal" src="/images/study/close.jpeg">-->
</div>
<!--</div>-->

<!--<audio>-->



<audio id="audiobatu">
    <source src="/audio/batu.mp3">
</audio>

<script type="text/javascript">
    function audio_play(element) {
        $(element).parent().find('audio').get(0).play();
    }

</script>
</body>
</html>



