<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/flicker.js"></script>
    <meta  name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="/css/study.css" />


    <title>Title</title>

</head>
<body>
    <div id="container">
        <a href="/sense/mypage" data-ajax="false">ホーム画面へ</a>


        <tr th:each="word : ${words}" th:object="${word}">
            <div class="buddy" style="display: block;">
                <div class="avatar">
                    <img th:src="*{url}" style="width: 364px;height: 460px;">
                    <div id="wrapper" style="position:absolute; top:50px; width: 350px;">
                        <p class="word" th:text="*{word}"></p>
                        <p class="mean" th:text="*{meaning}" ></p>
                    </div>
                </div>
            </div>
        </tr>
    </div>
</body>
</html>