<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/teacher_page.css">
    <script src="/js/style.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <title>Teacher Page</title>
</head>
<body>

<p class="teacher_midashi">Teacher's Page</p>
<div class="teacher_page_btn">
    <a class = "teacher_btn1">
        <form th:action="@{/sense/teacher_unit_select}" method="get">
            <input type = "image" src="/images/teacher_page/unit_select.png">
        </form>
    </a>
    <a class="teacher_btn2">
        <input type = "image" src="/images/teacher_page/making_test.png">
    </a>
</div>
<a class="teacher_btn" href="/sense/exam">Making Test</a>


</body>
</html>