<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/teacher_unit_select.css">
    <script src="/js/style.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<!--先生の方だよ-->
<div th:if="${teacherId}">
    <div class="head_test-wrap">
        <h1 class="head_test">
            Lessonを選択
            <span class="head_test-point">Lesson Select</span>
        </h1>
    </div>
    <div class="unit_btn_menu">
    </div>
    <div class="teacher_all">
        <div class="a_lesson">
            <p class="unit_sub" href="/sense/test/0">GetReady</p>
            <li class="unit_sub" th:if="${status1.status}==0">
                <form th:action="@{/sense/teacher_unit_select/0}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(0)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status1.status}==1">
                <form th:action="@{/sense/teacher_unit_select_0/0}" th:method="put">
                    <div id="nizyu-maru-off" class="nizyu-maru-off">
                        <input type="submit" value="選択中" onclick="changeButton(2)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status1.maru_status}==0">
                <form th:action="@{/sense/teacher_unit_select1/0}" th:method="put">
                    <div id="maru-on" class="maru-on">
                        <input type ="submit" value="選択する" onclick="changeButton(1)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status1.maru_status}!=0">
                <form th:action="@{/sense/teacher_unit_select_1/0}" th:method="put">
                    <div id="maru-off" class="maru-off">
                        <input type="submit" value= "選択中" onclick="changeButton(3)">
                    </div>
                </form>
            </li>
        </div>
        <p class="line">------------------------------------------</p>
        <div class="a_lesson">
            <p class="unit_sub">Lesson1</p>
            <li class="unit_sub" th:if="${status2.status}==0">
                <form th:action="@{/sense/teacher_unit_select/1}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(0)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status2.status}==1">
                <form th:action="@{/sense/teacher_unit_select_0/1}" th:method="put">
                    <div id="nizyu-maru-off" class="nizyu-maru-off">
                        <input type="submit" value = "選択中" onclick="changeButton(2)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status2.maru_status}==0">
                <form th:action="@{/sense/teacher_unit_select1/1}" th:method="put">
                    <div id="maru-on" class="maru-on">
                        <input type = "submit" value="選択する" onclick="changeButton(1)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status2.maru_status}==1">
                <form th:action="@{/sense/teacher_unit_select_1/1}" th:method="put">
                    <div id="maru-off" class="maru-off">
                        <input type="submit" value = "選択中" onclick="changeButton(3)">
                    </div>
                </form>
            </li>
        </div>
        <p class="line">------------------------------------------</p>
        <div class="a_lesson">
            <p class="unit_sub">Lesson2</p>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(0)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status3.status}==1">
                <form th:action="@{/sense/teacher_unit_select_0/2}" th:method="put">
                    <div id="nizyu-maru-off" class="nizyu-maru-off">
                        <input type="submit" value = "選択中" onclick="changeButton(2)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status3.maru_status}==0">
                <form th:action="@{/sense/teacher_unit_select1/2}" th:method="put">
                    <div id="maru-on" class="maru-on">
                        <input type = "submit" value="選択する" onclick="changeButton(1)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status3.maru_status}==1">
                <form th:action="@{/sense/teacher_unit_select_1/2}" th:method="put">
                    <div id="maru-off" class="maru-off">
                        <input type="submit" value = "選択中" onclick="changeButton(3)">
                    </div>
                </form>
            </li>
        </div>
        <p class="line">------------------------------------------</p>
        <div class="a_lesson">
            <p class="unit_sub">Lesson3</p>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する"  onclick="changeButton(0)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(1)">
                    </div>
                </form>
            </li>
        </div>
        <p class="line">------------------------------------------</p>
        <div class="a_lesson">
            <p class="unit_sub">Lesson4</p>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(0)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(1)">
                    </div>
                </form>
            </li>
        </div>
        <p class="line">------------------------------------------</p>
        <div class="a_lesson">
            <p class="unit_sub">Lesson5</p>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(0)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(1)">
                    </div>
                </form>
            </li>
        </div>
        <p class="line">------------------------------------------</p>
        <div class="a_lesson">
            <p class="unit_sub">Lesson6</p>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(0)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(1)">
                    </div>
                </form>
            </li>
        </div>
        <p class="line">------------------------------------------</p>
        <div class="a_lesson">
            <p class="unit_sub">Lesson7</p>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(0)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(1)">
                    </div>
                </form>
            </li>
        </div>
        <p class="line">------------------------------------------</p>
        <div class="a_lesson">
            <p class="unit_sub">Lesson8</p>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(0)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(1)">
                    </div>
                </form>
            </li>
        </div>
        <p class="line">------------------------------------------</p>
        <div class="a_lesson">
            <p class="unit_sub">Lesson9</p>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(0)">
                    </div>
                </form>
            </li>
            <li class="unit_sub" th:if="${status3.status}==0">
                <form th:action="@{/sense/teacher_unit_select/2}" th:method="put">
                    <div id="nizyu-maru-on" class="nizyu-maru-on">
                        <input type="submit" value = "選択する" onclick="changeButton(1)">
                    </div>
                </form>
            </li>
        </div>
    </div>
    <script>
        var nizyumaru_onButton = document.getElementById('nizyu-maru-on');
        var maru_onButton = document.getElementById('maru-on');
        var nizyumaru_offButton = document.getElementById('nizyu-maru-off');
        var maru_offButton = document.getElementById('maru-off');
        nizyumaru_onButton.style.display = "block";
        maru_onButton.style.display = "block";
        nizyumaru_offButton.style.display = "block";
        maru_offButton.style.display = "block";
        function changeButton(id) {
            if (id == 0){
                nizyumaru_offButton.style.display = "block";
                nizyumaru_onButton.style.display = "none";
            } else if (id == 1){
                maru_offButton.style.display = "block";
                maru_onButton.style.display = "none";
            } else if (id == 2){
                nizyumaru_onButton.style.display = "block";
                nizyumaru_offButton.style.display = "none";
            } else if (id == 3){
                maru_onButton.style.display = "block";
                maru_offButton.style.display = "none";
            }
        }
    </script>
    <script>
        $(function(){
            $('input').on('click', function(event){
                event.preventDefault();
                $(this).toggleClass('active');
            });
        });
    </script>
</body>
</html>