<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/teacher_page.css">
    <script src="/js/style.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Sawarabi+Gothic" rel="stylesheet">

    <title>Teacher Page</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #191970;">
    <a class="navbar-brand" href="/sense/teacher_page" style="font-family: 'Audiowide', cursive;">
        Swish
    </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/sense/teacher_unit_select">Unit Select</a>
            </li>
            <li>
                <a class="nav-link" href="/sense/exam_select">Making Test</a>
            </li>
            <li>
                <a class="nav-link" href="/sense/studentsInfo">Student's Info</a>
            </li>
        </ul>
</nav>

<p class="teacher_midashi">Teacher's Page</p>
    <div style="text-align: center;">
        <a href="/sense/teacher_unit_select"><img src="/images/teacher_page/unit_select.png"></a>
        <a href="/sense/exam_select"><img src="/images/teacher_page/making_test.png"></a>
        <a href="/sense/studentsInfo"><img src="/images/teacher_page/students_info.png"></a>
    </div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>