<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/test.css">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <title>Test</title>
</head>
<body>
    <div class="test_text">
        <br>
        <p>Are you ready?</p>
    </div>


        <form th:action="@{/sense/test_quiz/__${UnitId}__}">
            　<input type="image" src = "/images/teacher_page/unit_select.png">　　　　　　　
        </form>


    <ul class="mypage_menu">
        <li><a href="/sense/mypage"><img src="/images/mypage/home.png"></a></li>
    </ul>

</body>
</html>