<html lang="ja">

<!-- ヘッダー -->
<head>
    <meta charset="UTF-8">
    <meta name="author" content="K.Sugi">

    <title>JavaScriptによるPDF作成</title>

    <!-- スタイルシート（現在未使用） -->
    <style thpe="text/css" media="all">
        <!-- @import url("./css/hoge.css"); -->
    </style>

    <!-- スクリプト -->
    <script type="text/javascript" src="/js/pdfmake.min.js"></script>  <!-- pdfmake -->
    <script type="text/javascript" src="/js/vfs_fonts.js"></script>    <!-- フォント -->
    <script type="text/javascript" src="/js/test01.js"></script>       <!-- テスト01 -->
</head>

<!-- 本文 -->
<body>

<!-- ボタン -->
<input type="button" value="test01"  onclick="pdfOpen();"/>

</body>
</html>