<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/test.css">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <title>Test</title>
</head>
<body>
    <div class="test_text">
        <br>
        <p>Are you ready?</p>
    </div>

    <div class="teststart_btn">
        <a href="/sense/test_quiz">Start!</a>
    </div>

    <ul class="mypage_menu">
        <li><a href="/sense/mypage"><img src="/images/mypage/home.png"></a></li>
        <li><a href="#"><img src="/images/mypage/deta.png"></a></li>
        <li><a href="/sense/test"><img src="/images/mypage/test.png"></a></li>
        <li><a href="#"><img src="/images/mypage/ranking.png"></a></li>
    </ul>

</body>
</html>