<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/test.css">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <title>Test</title>
</head>
<body>
    <div class="test_text">
        <br>
        <p>Are you ready?</p>
    </div>

    <div class="teststart">
        <form th:action="@{/sense/test_quiz/__${UnitId}__}">
            　<input type="image" src = "/images/test/start.png" >　　　　　　　
        </form>
    </div>
    <audio id="audio" >
        <source src="/audio/pico.mp3">
    </audio>
    <script type="text/javascript">
        function audio_play() {
            audio.play();
            setTimeout(function jump(){ location.href='/sense/mypage/'},500);
        }
     </script>




        <ul class="mypage_menu">
        <li><img src="/images/mypage/home.png" onclick="audio_play()"></li>
    </ul>

</body>
</html>