<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/unit_select.css">
    <script src="/js/style.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <title>Title</title>
</head>
<body>

<ul class="setumei">
    <li><a class="setumei_img"><img src="/images/unit_select/nimaru.png"></a><p class="setumei_p">:必須で受けてほしいテスト</p></li>
    <li><a class="setumei_img"><img src="/images/unit_select/ichimaru.png"></a><p class="setumei_p">:できれば受けてほしいテスト</p></li>
    <li><a class="setumei_img"><img src="/images/unit_select/check.png"></a><p class="setumei_p">:テスト受けました！</p></li>
</ul>

<a href="#">Get Ready</a><br>
<a href="#">Unit 1</a><br>
<a href="#">Unit 2</a><br>
<a href="#">Unit 3</a><br>
<a href="#">Unit 4</a><br>
<a href="#">Unit 5</a><br>
<a href="#">Unit 6</a><br>
<a href="#">Unit 7</a><br>
<a href="#">Unit 8</a><br>
<a href="#">Unit 9</a><br>
</body>
</html>