<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/wordlist.css">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <title>単語一覧</title>
</head>
<body>
<a class="homeback" href="/sense/mypage" data-ajax="false"><img src="/images/study/close.jpeg"></a>
<p class="list_title">単語一覧</p>

<p class="list_sub_title">学習中の単語</p>

<table>
    <tr><th class="wordcolumn">単語</th><th>意味</th><th class="lessoncolumn">Lesson</th></tr>
    <tr th:each = "obj:${StudyingWordlists}" th:object="${obj}">
        <td class="word doing" th:text="*{word}"></td>
        <td class="meaning doing" th:text="*{meaning}"></td>
        <td class="lesson doing" th:text="*{lesson}"></td>
    </tr>
</table>



<p class="list_sub_title">マスターした単語</p>

<table>
    <tr><th class="wordcolumn">単語</th><th>意味</th><th class="lessoncolumn">Lesson</th></tr>
    <tr th:each = "obj:${MasterWordlists}" th:object="${obj}">
        <td class="word done" th:text="*{word}"></td>
        <td class="meaning done" th:text="*{meaning}"></td>
        <td class="lesson done" th:text="*{lesson}"></td>
        <script type="text/javascript">
            function audio_play() {
                var audio = document.getElementById("audio");
                audio.play();
            }
        </script>


    </tr>
</table>


<p class="list_sub_title">未学習の単語</p>

<table>
    <tr><th class="wordcolumn">単語</th><th>意味</th><th class="lessoncolumn">Lesson</th></tr>
    <tr th:each = "obj:${notstudieds}" th:object="${obj}">
        <td class="word notyet" th:text="*{word}"></td>
        <td class="meaning notyet" th:text="*{meaning}"></td>
        <td class="lesson notyet" th:text="*{lesson}"></td>
    </tr>
</table>

<a class="homeback" href="/sense/mypage"><img src="/images/mypage/home.png"></a>


</body>
</html>