<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/wordlist.css">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <title>単語一覧</title>
</head>
<body>
<p class="list_title">単語リスト</p>
--   もう勉強したもの
  <li class="eigo"><div th:each = " studieds :${studieds}" th:object="${studied}"><tr th:text = "${studieds.word}"><br></tr></div>
    <br></li>
  <li class="eigo"><div th:each = " studieds :${studieds}" th:object="${studied}"><tr th:text = "${studieds.meaning}"><br></tr></div>


</li>
--     まだ勉強していないもの
<li class="eigo"><div th:each = " notstudieds :${notstudieds}" th:object="${notstudied}"><tr th:text = "${notstudieds.word}"><br></tr></div>
<li class="eigo"><div th:each = " notstudieds :${notstudieds}" th:object="${notstudied}"><tr th:text = "${notstudieds.meaning}"><br></tr></div>
</body>
</html>